bin/n8n/n8n-simple-workflow.json
{
  "name": "Author Lead Generation Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "author-lead-gen",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $env.TAVILY_API_KEY }}\",\n  \"urls\": [\"{{ $('Webhook').item.json.body.url }}\"],\n  \"extract_depth\": \"advanced\",\n  \"include_images\": false\n}",
        "options": {}
      },
      "name": "Tavily Crawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are a precise data extraction agent. Your job is to analyze website text and find the personal email address of the author. \n\nRULES:\n1. If an email address IS found, output ONLY a valid JSON object with these keys: `first_name`, `last_name`, `email`, `book_title`, `genre`, `personalization_text`. Use null for missing data (except email/first_name).\n2. If NO personal email is found, or if it is a generic support email (info@, support@, etc.), output ONLY the exact string: NO_EMAIL\n\nDo not include markdown blocks or any other text."
            },
            {
              "content": "=Website URL: {{ $('Webhook').item.json.body.url }}\n\nWebsite Crawl Content:\n{{ $json.results[0].raw_content }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.content }}",
              "operation": "notEqual",
              "value2": "NO_EMAIL"
            }
          ]
        }
      },
      "name": "If Email Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "author_leads",
          "mode": "list",
          "cachedResultName": "author_leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {
          "onConflict": "email"
        }
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let content = $input.item.json.message ? $input.item.json.message.content : $input.item.json.choices[0].message.content;\n  const parsedData = JSON.parse(content);\n  parsedData.website_url = $('Webhook').item.json.body.url;\n  parsedData.status = 'new';\n  return parsedData;\n} catch (e) {\n  return [];\n}"
      },
      "id": "parse-json-1773894919868",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tavily Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Crawl": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If Email Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Found": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}